<div class="container mx-auto p-4 max-w-6xl">
    <h1 class="text-3xl font-bold mb-6 text-center flex items-center justify-center">
        <img src="/icons/trophy.svg" class="mr-2 h-8 w-8 text-yellow-500">
        Página de Sorteo
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6 overflow-hidden">
        <app-avalaible-prizes-raffle-screen></app-avalaible-prizes-raffle-screen>
        <app-raffle-participant></app-raffle-participant>
    </div>

    <app-raffle-button></app-raffle-button>

    <div class="card mb-6">
        <app-current-prize></app-current-prize>
        <app-current-winner></app-current-winner>
        <app-winners-history></app-winners-history>
    </div>

</div>