<div class="flex items-center space-x-2" key={i}>
        <div class="flex-shrink-0">
                @if (player()?.avatar_url) {

                <img class="h-10 w-10 rounded-full" [src]="player()?.avatar_url" [alt]="player()?.login">
                }
                @else {
                <span class="inline-flex items-center justify-center h-10 w-10 rounded-full bg-gray-100">
                        <span class="text-xl font-medium leading-none text-gray-600">{{player()?.login?.charAt(0)
                                }}</span>
                </span>
                }
        </div>
        <span class="text-sm">{{player()?.login}}</span>
</div>