<div>
    <div style="display: flex; height: 90px;">
        <div style="text-align: center;">
            <button>Iniciar Sorteo</button>
        </div>
        <div style="flex-grow: 1;">
            <app-prize-list />
        </div>

    </div>
    <div style="display: flex; margin-top: 20px;">
        <app-players-information />
        <div style="flex-grow: 1; padding: 1rem;">
            <app-players-list />
        </div>
    </div>
</div>

Autorefresh cada 5 segundos

<!-- 
    <button (click)="refresh()">Refresh</button>
    -->
<!--
    <div>
      <app-sort-price-list></app-sort-price-list>
    </div>
    -->