<div class="card">
    <div class="card-header">
        <div class="card-title flex items-center">
            <img src="/icons/player.svg" class="lucide lucide-users mr-2 h-5 w-5">
            Participantes ({{ sortService.availableParticipants().length }})
        </div>
    </div>
    <div class="card-content">
        <div class="scroll-area h-[200px] w-full rounded-md border p-4">
            <div class="grid grid-cols-2 gap-2">
                @for (participant of sortService.availableParticipants(); track $index) {
                <div class="flex items-center space-x-2">
                    <img [src]="participant.avatar_url" [alt]="participant.login" class="w-8 h-8 rounded-full" />
                    <span class="text-sm">{{ participant.login }}</span>
                </div>
                }
            </div>
        </div>
    </div>
</div>